body {
    background-color: black;
}

.wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    vertical-align: center;
    flex-direction: column;
    background-color: black;
    height: 100%;
    width: 80%;;
    margin-top: 5%;
}

.header {
    color: wheat;
    font-family: sans-serif;
}

#tooltip {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    height: 30px;
    background-color: black;
}

#editor {
    padding: 10px;
    background-color: black;
}

#run-icon {
    height: 30px!important;
    height: 30px!important;
    margin-left: 5px;
    /* border-radius: 50%; */
}

#build-icon {
    height: 30px!important;
    height: 30px!important;
    /* border-radius: 50%; */
    margin-left: 5px;
}

#editor-client {
    height: 300px;
    width: 100%;
}

#output-client {
    height: 150px;
    width: 100%;
}

#tree-client {
    height: 150px;
    width: 100%;
}

#result {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.center {
    align-items: center;
    align-content: center;
    text-align: center;
}

.fixed {
    width: 50%;
    overflow-x: scroll!important;
    overflow-y: scroll!important;
}